* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

input {
  border: 0;
}


body {
  background: #D4D6CE;
}
body:before {
  content: '';
  height: 110px;
  width: 100%;
  background: #008B7D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.window-wrapper {
  height: calc(100vh - 40px);
  width: 1300px;
  margin: 20px auto;
  display: flex;
}
@media screen and (max-width:1300px) {
  .window-wrapper {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
}

/* LEFT WINDOW */
.left-window {
  width: 35%;
  border-right: 1px solid #DCDBDC;
  display: flex;
  flex-direction: column;
}

/* Row 1 left */
.row1-left {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  background-color: #EAEAEA;
}
  .user-icon {
    margin-right: auto;
  }
    .user-icon img {
      height: calc(100% - 20px);
      margin: 10px 0;
    }
  .icons-row1 {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

/* Row 2 left */
.row2-left {
  width: 100%;
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #88DDFC;
}
  .icon-notifiche {

  }
  .row2-left-text {

  }

/* Row 3 left search */
.row3-left-search {
  width: 100%;
  height: 50px;
  padding: 8px 20px;
  border-bottom: 1px solid #D9D9D9;
  background-color: #F7F7F7;
}
    .input-bg {
      height: 34px;
      display: flex;
      align-items: center;
      border-radius: 34px;;
      background-color: #FFFFFF;
    }

/* Row 4 left users */
.row4-left-users {
  width: 100%;
  padding: 0 15px;
  display: flex;
  background-color: #FFFFFF;
  overflow-y: scroll;
  flex-grow: 1;
}
    .users {
      height: 72px;
    }

/* RIGHT WINDOW */
.right-window {
  width: 65%;
  display: flex;
  flex-direction: column;
}
    /* Row 1 right */
    .row1-right {
      width: 100%;
      height: 60px;
      padding: 0 20px;
      display: flex;
      background-color: #EAEAEA;
    }
        .user-icon-right {
        }
        .user-icon-right img {
          height: calc(100% - 20px);
          margin: 10px 0;
        }

        .row1-right-text {
          flex-grow: 1;
        }

    /* Message window */
    .message-window {
      flex-grow: 1;
      background-image: url("../img/bg.png");
      background-size: 520px;
    }

    /* Send Message bar*/
    .send-message-bar {
      height: 62px;
      width: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      background-color: #EEEEEE;
    }
        .emoticons-icon {
          margin-right: 20px;
        }
        .input-message-bg {
          height: 42px;
          border-radius: 42px;
          background-color: #FFFFFF;
          flex-grow: 1;
        }
        .send-message-icons {
          margin-left: 20px;
        }
