* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

body {
  background: #D4D6CE;
}
body:before {
  content: '';
  height: 110px;
  width: 100%;
  background: #008B7D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.window-wrapper {
  height: calc(100vh - 40px);
  width: 1300px;
  margin: 20px auto;
  background: gold;
  display: flex;
}
@media screen and (max-width:1300px) {
  .window-wrapper {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
}

/* LEFT WINDOW */
.left-window {
  width: 35%;
  background: red;
  border-right: 1px solid #DCDBDC;
}

/* Row 1 left */
.row1-left {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  background-color: #EAEAEA;
}
  .user-icon {
    margin-right: auto;
  }
    .user-icon img {
      height: calc(100% - 20px);
      margin: 10px 0;
    }
  .icons-row1 {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

/* Row 2 left */
.row2-left {
  width: 100%;
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #88DDFC;
}
  .icon-notifiche {

  }
  .row2-left-text {

  }

  /* Row 3 left search */
  .row3-left-search {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: #88DDFC;
  }




/* RIGHT WINDOW */
.right-window {
  width: 65%;
  background: blue
}
